.features-container{
    margin-left: 100px;
    margin-right: 100px;
}
.features-container .features-title{
    font-weight: 700;
    font-size: 48px;
    line-height: 66px;
    color: #1A1919
}
.features-container .features-des{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #757575;
}

.btn-see-all{
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border-radius: 8px;
    color: white;
    text-align: center;
    margin: 20px;
}

