.category-container{
    margin-left: 100px;
    margin-right: 100px;
}
.category-title{
    font-weight: 700;
    font-size: 48px;
    line-height: 66px;
    color: #1A1919;
    
}
.category-container p{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #757575;
    margin-top: 16px;
}