.review-item{
    /* width: 571px; */
    border: 1px solid #95A0A7;
    border-radius: 8px;
    margin-bottom: 25px;
    padding: 8px 25px 8px 8px;
    display: flex;
    align-items: center;
}
.review-item .job-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #474747;
    margin-top: -30px;
}
.review-details{
    flex-grow: 1;
}
.review-details p{
    margin: 0 15px;
}
.review-details .company-name{
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    color: #757575;
    margin-top: 8px;
}
.logo-img{
    height: 240px;
    width: 240px;
    background: #F4F4F4;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.review-item img{
    width: 147.93px;
    height: 40px;
    border-radius: 6px;
}
.orange-text{
    color: #ff9900;
}

.review-details .remote-time p{
    border: 1px solid lightblue;
    flex-direction: row;
    align-items: flex-start;
    padding: 9px 19px;
    height: 40px;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.review-details .location-salary{
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #757575;
    gap: 24px;
    padding-left: 12px;
}
.btn-details{
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border-radius: 8px;
    color: white;
    margin-top: 24px;
}